.main {
  height: 600px;
  max-height: 100vh;
  margin-top: -30px;
  padding: 80px 0.05rem;
  background-image: url('/images/confetti-bg.svg') ;
  background-size: 1000px;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 500px) {
    background-size: 50%;
  }
}

.mainHeading {
  margin-bottom: 20px;
  font-family: 'Greycliff CF', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bolder;
  font-size: 2.6rem;
  text-align: center;
  line-height: 2.8rem;
  // color: #000F3E;
  color: #000D20;
}

.section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  > * + *{
    margin-top: 30px;
  }
}

.sectionGrey {
  @extend .section;

  background-color: #F5f5f5;
}

.sectionDark {
  @extend .section;
}

.fullWidth {
  position: relative;
  max-width: 100%;
}

.sectionTitle {
  margin-bottom: 20px;
  font-family: 'Greycliff CF', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bolder;
  font-size: 2rem;
  line-height: 2.1rem;
  color: #000D20;
}

.sectionTitleLeft {
  @extend .sectionTitle;

  max-width: 90%;
  align-self: flex-start;
  text-align: left;
}

.subheadingDescription {
  font-family: 'Greycliff CF', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #000D20;
}

.description {
  font-weight: normal;
  color: #000D20;
}

.splitSection {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;

  img {
    width: 100%;
    max-width: 500px;
    max-height: 250px;
  }
  
  @media screen and (max-width: 500px){
    flex-direction: column;
  }
}

.splitSection:nth-of-type(3n+1) {
  @media screen and (max-width: 500px){
    flex-direction: column-reverse;
  }
}

.featureBlock {
  display: flex;
  flex-direction: column;

  padding: 0 20px;

  @media screen and (max-width: 500px){
    padding: 20px 0;
  }

  p {
    max-width: 450px;
    margin-top: 10px;
  }
}

.footer {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  background-color: #F5f5f5;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footerWrapper {
  max-width: 1200px;
  margin: 0 auto;
}