.profileHeader {
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 200px;
  background-color: #EEE;
}

.avatar {
  width: 130px;
  height: 130px;
  margin-left: -20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.userInfo {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.displayName {}

.userActions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content {}