.header {
  padding: 10px 10px 0;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 400px) {
    padding: 20px;
    gap: 10px;
  }
}

.headerBg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 130px;
  background-color: #EEE;
  z-index: -1;
  
  @media screen and (min-width: 600px) {
    height: 180px;
  }
  
  @media screen and (min-width: 800px) {
    height: 200px;
  }
}

.headerAvatar {
  width: 80px;
  height: 80px;
  margin-top: 80px;
  background-color: #fff;

  @media screen and (min-width: 400px) {
    width: 85px;
    height: 85px;
    margin-top: 80px;
  }

  @media screen and (min-width: 600px) {
    width: 100px;
    height: 100px;
    margin-top: 100px;
  }

  @media screen and (min-width: 800px) {
    width: 100px;
    height: 100px;
    margin-top: 130px;
  }
}

.headerContent {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.headerUserInfo {
  display: flex;
  flex-basis: 250px;
  flex-direction: column;
}

.headerActions {
  width: 100%;
  margin-left: -5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 320px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;

  @media screen and (max-width: 600px) {
    justify-content: flex-start;
  }
}

.content {
  padding: 0 20px 80px;
  display: flex;
  flex-direction: column;

  > * + * {
    margin-top: 20px;
  }
}

.tabContent {
  padding-bottom: 50px;
}